<h2 style="text-align: center;">Login</h2>


<form class="login-form m-5">
    <div>
        <p style="color:black; font-size: 24px;">Username</p>
        <input type="text" id="username-login" class="form-control" placeholder="Enter Valid Username" />
    </div>
    <div>
        <p style="color:black; font-size: 24px;">Password</p>
        <input type="password" id="password-login" class="form-control"
            placeholder="Enter Valid Password" />
    </div>
    <div>
        <button style="color: black;" type="submit" class="btn btn-outline-dark my-4" id="loginBtn">LOG IN</button>
    </div>
</form>

<hr>

<h3 style="text-align: center;">Don't have an account? Sign up below!</h3>

<h5 style="text-align: center;"><a href="/signup" class="text-decoration-none">Click here to sign up!</a></h5>

