<h2 style="text-align: center;">Sign Up!</h2>

<form class="login-form m-5">
    <div>
        <p style="color:black; font-size: 24px;">Username</p>
        <input type="text" id="username-signup" class="form-control" placeholder="Enter Valid Username" />
    </div>
    <div>
        <p style="color:black; font-size: 24px;">Password</p>
        <input type="password" id="password-signup" class="form-control"
            placeholder="Enter Valid Password" />
    </div>
    <div>
        <button style="color: black;" type="submit" class="btn btn-outline-dark my-4" id="loginBtn">SIGN UP</button>
    </div>
</form>
